/* GENERAL */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    color: gainsboro;
}

section{
    margin-top: 100px;
    margin-bottom: 100px;
}

h1, h2{
    color: goldenrod;
}

ul, li{
    list-style: none;
}

/* HEADER */
header{
    text-align: center;
}

header #logo{
    width: 200px;
}

header h1{
    font-size: 40px;
}

header h1:hover{
    text-shadow: 0px 0px 20px;
    cursor: pointer;
}

/* NAV */
nav{
    background-color: grey;
    margin-top: 20px;
    box-shadow: 0px 0px 20px inset black;
}

nav a{
    text-decoration: none;
    color: gainsboro;
    font-weight: bold;
}

nav > ul > li{
    display: inline-block;
    text-align: center;
    padding: 20px;
}

nav > ul > li:last-child{
    position: relative;
}

#submenu{
    display: none;
    position: absolute;
}

nav > ul{
    text-align: center;
}

nav > ul > li:last-child:hover > #submenu{
    display: block;
    background-color: gray;
    border-radius: 2px;
    margin-top: 20px;
    width: 105px;
    right: 0%;
    left: 0%;
    z-index: 10;
}

nav > ul > li:last-child:hover > #submenu > li{
    padding: 10px;
}

nav > ul > li:last-child:hover > #submenu > li:hover{
    background-color: goldenrod;
    box-shadow: 0px 0px 10px;
}

nav > ul > li:hover{
    background-color: goldenrod;
    box-shadow: 0px 0px 10px ;
}

/* FORM */
form{
    width: 50%;
    margin: 0 auto;
    background-color: gray;
    margin-top: 100px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 10px inset;
    text-align: center;
    overflow: auto;
}

form label{
    color: gold;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0px 0px 4px;
}

form h2{
    font-size: 60px;
    margin-bottom: 40px;
    text-shadow: 0px 0px 10px black;
}

form input{
    margin-bottom: 80px;
    width: 50%;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    background-color: gold;
    color: black;
    border: 3px solid black;
    box-shadow: 0px 0px 10px white;
}

form input:hover{
    background-color: white;
}

form input:focus{
    background-color: goldenrod;
}

form input[type="submit"]{
    color: black;
}

/* FOOTER */
footer{
    clear: both;
    background-color: gray;
    text-align: center;
    padding: 20px;
    color: gainsboro;
    font-weight: bold;
    box-shadow: 0px 0px 20px inset black;
    margin-top: 100px;
}

footer a{
    text-decoration: none;
    color: goldenrod;
}

footer a:hover{
    text-decoration: underline;
}